/* Formatting */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
html {
  font-family: "PP Mori", sans-serif;
}

h1 {
  text-align: center;
}

.contact-links {
  text-align: center;
}

a:link,
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

li {
  font-size: 0.9rem;
}

/* Main grid setup */

main {
  display: grid;
  grid-template-rows: 100vh auto auto auto;
  position: relative;
}

body {
  display: grid;
  grid-template: 4rem 1fr 3rem / 1fr;
  padding-right: 1vw;
  width: 100vw;
}

/* Header formatting */

header {
  align-items: center;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template: 4rem / 4rem auto 7rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

header li {
  list-style-type: none;
}

header .button {
  margin: 0.5rem;
  margin-right: 1.5rem;
}

@media only screen and (min-width: 600px) {
  header {
    grid-template-columns: 7rem auto 7rem;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto;
    width: 60vw;
  }
}

hr {
  align-items: center;
  border-width: 0.2rem;
  border-radius: 0.2rem;
  border-color: rgb(128, 128, 128);
  border-style: solid;
  justify-self: center;
  margin: 0;
  margin-bottom: 0.4rem;
  width: 30vw;
}

header > hr {
  grid-column: 1 / 4;
}

menu {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.faded {
  font-size: 1.2rem;
}

/* Nav bar fade in on click */

.faded,
.faded:visited {
  color: rgb(128, 128, 128);
  text-decoration: solid;
}

.faded:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.faded:active {
  text-decoration: solid;
}

/* Button formatting and animations */

.button {
  background-color: rgb(255, 255, 255);
  border: 0.01rem solid rgb(0, 0, 0);
  border-radius: 0.2rem;
  padding: 0.5rem;
  text-align: center;
}

.button:hover {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.button:active {
  background-color: rgba(185, 104, 240, 0.2);
}

#contact-tag {
  padding-bottom: 12rem;
}

.sub-page {
  padding-top: 4rem;
}

@media only screen and (min-width: 600px) {
  .sub-page {
    padding-top: 4rem;
  }
}

/* Hero Page */

.hero-image {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 15rem;
}

.hero-text {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 80vw;
}

.hero-header {
  font-size: 3rem;
  letter-spacing: 0.6rem;
}

/* Hero page multicolour flash */

@media only screen and (min-width: 600px) {
  .hero-header {
    font-size: 6rem;
  }
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: rgb(254, 185, 198);
  --color-2: rgb(185, 107, 133);
  --color-3: rgb(118, 81, 139);
}

.title-word-2 {
  --color-1: rgb(219, 173, 74);
  --color-2: rgb(111, 144, 140);
  --color-3: rgb(9, 96, 102);
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Hero subheading smooth intro */

.hero-text p {
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  font-size: 2rem;
  font-style: italic;
  font-family: Pacifico, "sans-serif";
  transform: scale(0.94);
  width: auto;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

p span {
  display: inline-block;
  filter: blur(4px);
  opacity: 0;
}

p span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

p span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

p span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

p span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/* About me */

.about-me-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90vw;
}

.about-me-container h2 {
  text-align: center;
}

.about-me-container img {
  align-self: center;
  height: auto;
  width: 60vw;
}

@media only screen and (min-width: 600px) {
  .about-me-container {
    align-items: center;
    column-gap: 1rem;
    display: grid;
    grid-template: 1fr 1fr 1fr / auto 4fr auto;
    margin: 0 auto;
    width: 90vw;
  }

  .about-me-container img {
    max-width: 20rem;
  }

  .interests {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .interests img {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .education {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .education img {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .work-experience {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .work-experience img {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

.about-me-container img {
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

/* Portfolio grid */

.portfolio-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 2rem;
  width: 90vw;
}

.projects-even,
.projects-odd {
  border: 1px dashed black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 0.3rem;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  grid-template-rows: auto 1fr;
}

.proj-git,
.proj-link {
  align-self: center;
  justify-self: center;
}

.proj-title {
  align-self: center;
}

.proj-img {
  height: auto;
  justify-self: center;
  width: 70vw;
}

.proj-summary {
  grid-column: span 3;
}

@media only screen and (min-width: 600px) {
  .projects-odd {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 0;
    margin-right: 10vw;
  }

  .projects-even {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-left: 10vw;
    margin-right: 0;
    padding-left: 1rem;
  }

  .projects-even > .proj-img {
    grid-column: 2/3;
  }

  .projects-even > .project-content {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template: auto 1fr / 0.2fr 0.2fr 1fr;
  }

  .projects-even .proj-git {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .projects-even .proj-link {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .projects-even .proj-title {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: right;
  }

  .projects-even .proj-summary {
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: right;
  }

  .proj-img {
    height: auto;
    width: 30vw;
  }
}

/* Contact me formatting */

.contact p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

/* Footer */

footer {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  display: grid;
  grid-template: auto 1fr / repeat(3, 1fr);
  height: 3rem;
  justify-items: center;
  position: fixed;
  width: 100vw;
}

footer hr {
  grid-column: span 3;
  margin-top: 0.4rem;
}

.footer-socials {
  display: flex;
  gap: 0.6rem;
  justify-self: end;
  margin-right: 4rem;
}

@media only screen and (min-width: 600px) {
  .flip:hover {
    animation: flip 2s infinite;
    animation-delay: 0;
  }
  @keyframes flip {
    0%,
    40% {
      transform: rotateY(360deg);
    }
  }
}

/* Icon formatting */

i {
  font-size: 1.2rem;
}

.fa-house {
  font-size: 1.8rem;
  margin-left: 0.8rem;
}

@media only screen and (min-width: 600px) {
  i {
    font-size: 1.5rem;
  }
}
