/* Formatting */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
html {
  font-family: "PP Mori", sans-serif;
}

h1 {
  text-align: center;
}

.contact-links {
  text-align: center;
}

a:link,
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

li {
  font-size: 0.9rem;
}

/* Main grid setup */

main {
  position: relative;
  display: grid;
  grid-template-rows: 100vh auto auto auto;
}

body {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  padding-right: 1vw;
}

/* Header formatting */

header {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 4rem auto 7rem;
  grid-template-rows: 1fr;
  align-items: center;
}

header li {
  list-style-type: none;
}

header .button {
  margin: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

hr {
  align-items: center;
  width: 30vw;
  margin: 0;
  border-width: 0.2rem;
  border-radius: 0.2rem;
  border-color: rgb(128, 128, 128);
  border-style: solid;
  justify-self: center;
  margin-bottom: 0.4rem;
}

header > hr {
  grid-column: 1 / 4;
}

/* Nav bar fade in on click */

.faded,
.faded:visited {
  text-decoration: solid;
  color: rgb(128, 128, 128);
  font-size: 1.1rem;
}

.faded:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

/* Button formatting and animations */

.button {
  height: 2.5rem;
  width: 4.5rem;
  border: 0.01rem solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
}

.button:hover {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.button:active {
  background-color: rgba(185, 104, 240, 0.2);
}

#contact-tag {
  padding-bottom: 12rem;
}

.sub-page {
  padding-top: 6rem;
}

@media only screen and (min-width: 600px) {
  .sub-page {
    padding-top: 4rem;
  }
}

/* Hero Page */

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 15rem;
  height: 100%;
  align-self: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: rgb(255, 255, 255);
  width: 70vw;
}

.hero-text p {
  width: auto 40vw;
}

.hero-header {
  align-self: left;
  font-size: 3rem;
}

/* About me */

.about-me-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about-me-container h2 {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .about-me-container {
    width: 90vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: minmax(3fr, auto) 4fr minmax(3fr, auto);
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
  }

  .about-me-container img {
    max-width: 20rem;
  }

  .interests {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .interests img {
    grid-column: 3/4;
    grid-row: 1/2;
    block-size: cover;
  }

  .education {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .education img {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .work-experience {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .work-experience img {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

.about-me-container img {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* Portfolio grid */

.portfolio-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.projects-odd,
.projects-even {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 0.3rem;
  border: 1px dashed black;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  grid-template-rows: auto 1fr;
}

.proj-git,
.proj-link {
  align-self: center;
  justify-self: center;
}

.proj-title {
  align-self: center;
}

.proj-img {
  width: 70vw;
  height: auto;
  justify-self: center;
}

.proj-summary {
  grid-column: span 3;
}

@media only screen and (min-width: 600px) {
  .projects-odd {
    margin-left: 0;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
  }

  .projects-even {
    margin-left: 10vw;
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    padding-left: 1rem;
  }

  .projects-even > .proj-img {
    grid-column: 2/3;
  }

  .projects-even > .project-content {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .projects-even .proj-git {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .projects-even .proj-link {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .projects-even .proj-title {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: right;
  }

  .projects-even .proj-summary {
    text-align: right;
    grid-row: 2/3;
    grid-column: 1/4;
  }

  .proj-img {
    width: 30vw;
    height: auto;
  }
}

/* Contact me formatting */

.contact p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  width: 100vw;

  background-color: rgb(255, 255, 255);

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

footer hr {
  grid-column: span 3;
  margin-top: 0.4rem;
}

#footer-socials {
  display: flex;
  justify-self: end;
  margin-right: 4rem;
  gap: 0.6rem;
}

/* Icon formatting */

i {
  font-size: 1.2rem;
}

.fa-house {
  margin-left: 0.8rem;
  font-size: 1.8rem;
}

@media only screen and (min-width: 600px) {
  i {
    font-size: 1.5rem;
  }
}
